*{  padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background: purple;
}

.navbar .nav-logo .logo-text

.navbar .nav-menu .Nav-link{
    color: white;

}